{% extends 'basic.html' %}

{% block title%}About Us{%endblock%}
{% block body%}
<div class="container"><br>
    <h1 style="font-weight:200;">About Us</h1><br>
    <div class="card text-start px-3 py-3">
        <h1>Who We Are</h1>
        <p>Interdum ornare id varius molestie ridiculus mus mi tempus elit lacinia dis euismod. Amet. Dui nunc. Dis pede
            Curae; dis. Suscipit lorem. Curabitur neque nascetur aenean arcu porttitor pharetra primis feugiat. Dui
            amet.
            Vivamus eu scelerisque.</p>

        <p>A elementum Suspendisse libero, blandit sollicitudin feugiat leo, dapibus ornare eleifend mus vehicula curae;
            felis orci, arcu fermentum nunc habitant curabitur ridiculus id etiam, mus, elit tempus tincidunt neque Per
            rhoncus quam etiam netus tempor dignissim quisque proin metus eget.</p>

        <p>Erat elit. Etiam primis laoreet etiam tellus pellentesque, dui pulvinar proin sodales tempor fermentum
            cubilia
            diam. Lectus gravida semper feugiat per tellus, rhoncus tempus.</p>

        <h1>What We Do</h1>
        <p>Interdum ornare id varius molestie ridiculus mus mi tempus elit lacinia dis euismod. Amet. Dui nunc. Dis pede
            Curae; dis. Suscipit lorem. Curabitur neque nascetur aenean arcu porttitor pharetra primis feugiat. Dui
            amet.
            Vivamus eu scelerisque.</p>

        <p>A elementum Suspendisse libero, blandit sollicitudin feugiat leo, dapibus ornare eleifend mus vehicula curae;
            felis orci, arcu fermentum nunc habitant curabitur ridiculus id etiam, mus, elit tempus tincidunt neque Per
            rhoncus quam etiam netus tempor dignissim quisque proin metus eget.</p>

        <p>Erat elit. Etiam primis laoreet etiam tellus pellentesque, dui pulvinar proin sodales tempor fermentum
            cubilia
            diam. Lectus gravida semper feugiat per tellus, rhoncus tempus.</p>

    </div>
</div>

{%endblock%}