{% extends 'basic.html' %}

{% block title%}Living Room{%endblock%}

{% block body%}
<div style="padding:30px;">
    <h1 style="font-weight:200;">Living Room</h1>
    <br><br>
    {%load static%}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
        {%for i in product%}

        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem; margin: 10px;">
                    <img src="{{i.image.url}}" class="card-img-top" style="height: 200px; width:auto;"
                        alt="...">
                    <div class="card-body" style="height:auto;"><br>
                        <a class="card-title" style="font-size:12px; text-decoration:none;" href="/product/{{i.id}}">{{i.product_name}}</a>
                        <p class="card-text" style="font-size:12px;">{{i.desc|slice:":60"}}...</p>
                        <a href="/product/{{i.id}}" type="submit" class="btn btn-outline-primary"
                            style="font-size:12px;">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}