{% extends 'basic.html' %}

{% block title%}Shipping Policy{%endblock%}
{% block body%}
<div class="container"><br>
    <img src="/media/shop/images/Shipping.jpg" style="max-width:500px;"><br>
    <div class="card text-start px-3 py-3">
        <h5>We offer professional shipping right to your home! Order online or over the phone and select local shipping
            for as little as $99.99.</h5>
        <h4>
            Order Confirmation:
        </h4>
        <ul>
            <li>
                <p>Upon receiving your order, we will send a confirmation email to you.</p>
            </li>
            <li>
                <p>You order will get processed with our warehouse and vendors to ship asap.</p>
            </li>
            <li>
                <p>As we receive confirmation from our warehouse and vendors, we will update you with an estimated ship
                    date.</p>
            </li>
            <li>
                <p>As soon as your order is shipped, we will notify you of when to expect your shipment.</p>
            </li>
        </ul>
        <h4>
            Shipping to your home:
        </h4>
        <p>Items will be shipped right to your address, and will include drop off at the first available area outside
            your home for easy transport. You’ll have to make the arrangements to handle your items into your desired
            space.</p>
        <ul>
            <li>
                <p>Our shipping company will provide a day of delivery and a 4-hour time frame appointment. Someone 18
                    or older must be present to receive and sign off. Assembly or package removal service is not
                    included with this service. If you would like white glove service (items setup inside your home,
                    packaging hauled away) please call us to select this option prior to receiving your shipment.</p>
            </li>
            <li>
                <p>Customers must inspect merchandise completely at time of receiving order. If you see any issues, or
                    visible damages, please note it on the packing slip and report issues to customer care. Product
                    claims after delivery must be reported within 48 hours.</p>
            </li>
        </ul>
        <h4>
            Order Confirmation & Shipping Time Frame:
        </h4>
        <ul>
            <li>
                <p>In-stock orders get processed within 24 to 48 hours, and ship within 5-7 business days from our CT
                    warehouse.</p>
            </li>
            <li>
                <p>Orders/items that are not typically stocked locally, ship from our vendor partners within 10-20
                    business days.</p>
            </li>
        </ul>
        <h4>
            Shipping Details:
        </h4>
        <ul>
            <li>
                <p>Shipping charges vary by distance.</p>
            </li>
            <li>
                <p>$99.99 for orders shipping within 0-15 miles from zip code 01089.</p>
            </li>
            <li>
                <p>$129.99 for orders shipping within 16-30 miles from zip code 01089.</p>
            </li>
            <li>
                <p>$159.99 for orders shipping within 31-45 miles from zip code 01089.</p>
            </li>
            <li>
                <p>Exact shipping chargers to be determined at time of purchase.</p>
            </li>
        </ul>

    </div>



</div>

{%endblock%}