{% extends 'basic.html' %}

{% block title%}Terms & Policy{%endblock%}
{% block body%}
<div class="container"><br>
    <h1 style="font-weight:200;">Terms & Policy</h1><br>
    <div class="card text-start px-3 py-3">
        <h3>PURCHASE TERMS AND CONDITIONS</h3>
        <p>When you place an order to purchase products and services through the Site, you agree to follow and be bound
            by these Purchase Terms and Conditions.</p>
        <h4>We may refuse or cancel orders.</h4>
        <p>While we will use our best efforts to fulfill all orders, we cannot guarantee the availability of any
            particular product displayed on the Site. We reserve the right to discontinue the sale of any product listed
            on the Site at any time without notice. The receipt of an order number or an email order confirmation does
            not constitute acceptance of an order or a confirmation of an offer to sell. We reserve the right, without
            prior notification, to limit the order quantity on any item and/or to refuse service to any customer. We may
            require verification of information before accepting an order.</p>
        <p>We reserve the right, at our sole discretion, to refuse or cancel any order for any reason.</p>
        <h4>We may change information, including prices, of products and services listed on the Site.</h4>
        <p>All descriptions, images, references, features, content, specifications, products, and prices of products and
            services described or depicted on the Site are subject to change at any time without notice (including after
            you have submitted your order). We will correct errors that we discover, and we reserve the right to revoke
            any stated offer and to correct any error, inaccuracy, or omission (including after an order has been
            submitted).</p>
        <p>We cannot confirm the price of an item until you order. Despite our best efforts, a small number of the items
            listed on the Site may be mispriced. If the correct price of an item is higher than our stated price, we
            will, at our discretion, either contact you for instructions before shipping or cancel your order and notify
            you of such cancellation</p>


    </div>
</div>

{%endblock%}