{% extends 'basic.html' %}

{% block title%}Warranty{%endblock%}
{% block body%}
<div class="container"><br>
    <h1 style="font-weight:200;">Warranty</h1><br>
    <div class="card text-start px-3 py-3">
        <h4>MANUFACTURERS TERMS OF WARRANTY UPHOLSTERED FURNITURE:</h4>
        <p>Upholstered Furniture is warranted under conditions of normal usage for one year from date of purchase,
            excluding
            fabrics. This limited warranty covers manufacturers’ defects and does not apply to abuse, misuse,
            unreasonable
            wear
            and tear or damage due to moving products after original delivery. It applies only to original purchaser and
            starts
            from date of purchase. Fading is normal and not considered a defect.</p>
        <h4>WOOD FURNITURE</h4>
        <p> Wood Furniture is warranted under conditions of normal usage for one year from date of purchase. This
            limited
            warranty covers manufacturers’ defects and does not apply to abuse, misuse, unreasonable wear and tear or
            damage
            due
            to moving products after original delivery. It applies only to original purchaser and starts from date of
            purchase.
            Nicks and scratches must be reported at time of pick up or delivery.</p>
        <h4>RECLINING FURNITURE:</h4>
        <p>Reclining mechanisms carry a 1 Year Limited Warranty. This limited warranty covers manufacturers’ defects and
            does
            not apply to abuse, misuse, unreasonable wear and tear or damage due to moving products after original
            delivery.
            It
            applies only to original purchaser and starts from the date purchase.</p>
        <h4>BEDROOM, DINING ROOM, OCCASIONAL TABLES:</h4>
        <p>Construction is guaranteed against breaking, warping, or splitting from normal household use for one year
            from
            date
            of purchase.</p>
        <h4>TABLES, LIGHTING, RUGS & ACCESSORIES</h4>
        <p>30 days on defective components or workmanship. Customers must bring all defective items to store.</p>
        <h4>ITEMS SOLD "AS IS" or "FLOOR SAMPLE" or “CLEARANCE”</h4>
        <p>Cannot be exchanged, repaired, or returned.</p>
        <h4>MATTRESS SETS</h4>
        <p>Most mattresses and foundations are guaranteed for one year from date of purchase against defects in material
            or
            workmanship. Mattress Sets come with a Non Pro Rated warranty and a Pro-Rated Warranty from the
            manufacturers
            that
            will be extended to our customers.</p>
        <h4>SPECIAL ORDERS</h4>
        <p>There will be no cancellation accepted on Special Orders. Because this merchandise is ordered according to
            your
            exact instruction, and may not be right for other customers, Dream Décor will retain the deposit to cover
            our
            expenses in arranging for the manufacture and shipment of the merchandise if you do not accept delivery of
            the
            same.
            We will attempt to estimate the date of arrival of your order, however, we cannot be held responsible for
            delays
            due
            to items out of stock and various manufacturing and shipping problems beyond our control.</p>
        <h4>LABOR CHARGES & SERVICE CALLS</h4>
        <p> We will pay the labor charges to repair or replace defective parts at no cost to the original purchaser for
            one
            year
            from purchase date. After the initial year, the purchaser will be responsible for labor charges to make the
            repair,
            except in those cases where a manufacturer's warranty includes labor to perform the repair. Labor rates are
            from
            $60
            to $89 an Hour.</p>
        <h4>TRANSPORTATION CHARGES</h4>
        <p>Items that are outside our regularly scheduled delivery and shipping areas must be returned to Dream Decor
            for
            warranty service, or transportation charges will apply to the repair. If you picked up your items instead of
            having
            it delivered by Dream Decor, then you will need to arrange transportation for the items.</p>
        <h4>FACTS YOU SHOULD KNOW</h4>
        <p>There may be a variance in color in wood finishes, upholstery, drapery fabrics, carpeting, and marble which
            is
            beyond our control. Velvets will shade and cushions can wrinkle. We will make every reasonable effort to
            insure
            satisfaction. After a period of one year from date of delivery, our service department will gladly order
            parts
            and
            make repairs as required, subject, of course, to availability. Charges for parts and service will be billed
            to
            the
            owner at the prevailing rate. Warranty coverage applies to factory defects only. However, it does not apply
            to
            damages and deficiencies arising from the consumers’ normal household use. Please call customer service for
            details.</p>
    </div>



</div>

{%endblock%}