{% extends 'basic.html' %}

{% block title%}Order{%endblock%}
{% block body%}
<div style="padding:50px;">
    <h1 style="font-weight:200;">Orders View</h1>
    <br><br>
    <div class="card" style="width: auto;">
        <div class="row ">
            <div class="col-md-6">
                <div class="card-body" style="width: auto;">
                    <div class="card-header">
                        <h3 style="font-weight:400;">Shipping Details</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><b>Name</b>: {{order.name}} </li>
                        <li class="list-group-item"><b>Email</b>: {{order.email}} </li>
                        <li class="list-group-item"><b>Phone</b>: {{order.phone}} </li>
                        <li class="list-group-item"><b>Address</b>: {{order.address}} </li>
                        <li class="list-group-item"><b>City</b>: {{order.city}} </li>
                        <li class="list-group-item"><b>State</b>: {{order.state}} </li>
                        <li class="list-group-item"><b>Country</b>: {{order.country}} </li>
                        <li class="list-group-item"><b>Zipcode</b>: {{order.zip_code}} </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body" style="width: auto;">
                    <div class="card-header">
                        <h3 style="font-weight:400;">Order Details</h3>
                    </div>
                    <div class="table-responsive-lg">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in orderitem %}
                                <tr>
                                    <td><img src="{{i.product.image.url}}" style="width:50px;height:50px;"></td>
                                    <td>{{i.product.product_name}}</td>
                                    <td>$ {{i.price}}</td>
                                    <td>{{i.quantity}}</td>
                                </tr>

                                {%endfor%}
                            </tbody>
                        </table>

                        <div  style="font-size:12px ;">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row">Total Price</th>
                                        <td>$ {{order.total_price}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Payment mode</th>
                                        <td>{{order.payment_mode}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Order Status</th>
                                        <td>{{order.status}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tracking no</th>
                                        <td>{{order.tracking_no}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}